In [53]:
import pandas as pd
import numpy as np
import datetime
import calendar
import seaborn as sns

In [15]:
df = pd.DataFrame({'0': ['a', 'b', 'c'], '1': ['2020-05-14','2020-05-15', '2020-05-16'], '2': [11,12,13]})
df.to_csv('test.csv', index=False)

In [16]:
df.dtypes

0    object
1    object
2     int64
dtype: object

In [17]:
for col in df.columns:
    if df[col].dtype == 'object':
        try:
            df[col] = pd.to_datetime(df[col])
        except ValueError:
            pass

In [18]:
df.dtypes

0            object
1    datetime64[ns]
2             int64
dtype: object

In [27]:
dt=pd.DataFrame({'0':['a','b','c'],'1':['14/05/2020','15/05/2020','16/05/2020'],'2':[14,15,16]})
dt.to_csv('test.csv', index=False)

In [28]:
for col in dt.columns:
    if dt[col].dtype == 'object':
        try:
            dt[col] = pd.to_datetime(dt[col])
        except ValueError:
            pass

In [29]:
dt.dtypes

0            object
1    datetime64[ns]
2             int64
dtype: object

--------------------

In [68]:
#printing current date time using datetime module
today=datetime.datetime.now()
print(today)

2020-05-14 14:59:11.562999

In [69]:
#printing year
print(today.year)

2020

Note: datetime() class requires three parameters to create a date: year, month, day.  
The datetime() class also takes parameters for time and timezone (hour, minute, second, microsecond, tzone), but they are optional, and has a default value of 0, (None for timezone).

In [70]:
#to get hour from thedatetime
print('Hour: ',today.hour)

Hour:  14

In [71]:
#printing day
print('Day: ', today.day)

Day:  14

In [72]:
#printing month
print('Month: ',today.month)

Month:  5

In [73]:
#getting only date from datetime not time
date_today = datetime.date.today()
print(date_today)

2020-05-14

In [42]:
#creating date objects
x = datetime.datetime(2020, 5, 17)
print(x)

In [45]:
#strftime() is a method for formatting date objects into readable strings)
#printing day
print(x.strftime("%A"))

Tuesday

In [46]:
#printing month
print(x.strftime('%B'))

May

In [48]:
print('Type :- ',type(x))

Type :-  <class 'datetime.datetime'>

---------------------------

----------------------------

### Working on a dataset to detect a date

In [61]:
#loading Landslides data in a dataframe dt
dt = pd.read_csv('catalog.csv')

In [62]:
# set seed for reproducibility
np.random.seed(0)

In [63]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1693 entries, 0 to 1692
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1693 non-null   int64
 1   date                  1690 non-null   object
 2   time                  629 non-null    object
 3   continent_code        164 non-null    object
 4   country_name          1693 non-null   object
 5   country_code          1693 non-null   object
 6   state/province        1692 non-null   object
 7   population            1693 non-null   int64
 8   city/town             1689 non-null   object
 9   distance              1692 non-null   float64
 10  location_description  551 non-null    object
 11  latitude              1692 non-null   float64
 12  longitude             1692 non-null   float64
 13  geolocation           1692 non-null   object
 14  hazard_type           1693 non-null   object
 15  landslide_type        1692 non-null   object
 16  landslide_size        1692 non-null   object
 17  trigger               1691 non-null   object
 18  storm_name            132 non-null    object
 19  injuries              515 non-null    float64
 20  fatalities            1446 non-null   float64
 21  source_name           872 non-null    object
 22  source_link           1593 non-null   object
dtypes: float64(5), int64(2), object(16)
memory usage: 198.5+ KB

In [64]:
#checking first few rows of date column
print(dt['date'].head())

0    33/32/2007
1     3/22/2007
2      4/6/2007
3     4/14/2007
4     4/15/2007
Name: date, dtype: object

Observation: The date column containing dates but the datatype is object

Note: Because the dtype of our column is object rather than datetime64, we can tell that Python doesn't know that this column contains dates.

### Check for invalid records in date column

In [65]:
#checking if date column contain invalid values
pd.to_datetime(dt['date'], errors='coerce')

0             NaT
1      2007-03-22
2      2007-04-06
3      2007-04-14
4      2007-04-15
          ...
1688   2015-12-07
1689   2016-02-22
1690   2016-02-23
1691   2016-02-26
1692   2016-03-02
Name: date, Length: 1693, dtype: datetime64[ns]

### Converting our date columns to datetime

In [66]:
#creating a column date_parsed with parsed dates
dt['date_parsed'] = pd.to_datetime(dt['date'], format = "%m/%d/%Y")

ValueError: time data '33/32/2007' does not match format '%m/%d/%Y' (match)

#### It gives an error because the column contains invalid date

changing the invalid date into valid in  dataset and then try again

In [67]:
#loading dataset again after changing invalid records
dt = pd.read_csv('catalog.csv')

In [68]:
#checking if date column contain invalid values
pd.to_datetime(dt['date'], errors='coerce')

0      2007-03-02
1      2007-03-22
2      2007-04-06
3      2007-04-14
4      2007-04-15
          ...
1688   2015-12-07
1689   2016-02-22
1690   2016-02-23
1691   2016-02-26
1692   2016-03-02
Name: date, Length: 1693, dtype: datetime64[ns]

In [69]:
#creating a column date_parsed with parsed dates
dt['date_parsed'] = pd.to_datetime(dt['date'], format = "%m/%d/%Y")

In [10]:
dt['date_parsed'].head()

0   2007-03-02
1   2007-03-22
2   2007-04-06
3   2007-04-14
4   2007-04-15
Name: date_parsed, dtype: datetime64[ns]

Observation: No error occurs as the date column contains no invalid record

### Check for null values

In [70]:
pd.to_datetime(dt['date'], errors='coerce').isnull()

0       False
1       False
2       False
3       False
4       False
        ...
1688    False
1689    False
1690    False
1691    False
1692    False
Name: date, Length: 1693, dtype: bool

------------------------

In [11]:
#in case of multiple date formats
dt['date_parsed'] = pd.to_datetime(dt['date'], infer_datetime_format=True)

In [12]:
dt['date_parsed'].head()

0   2007-03-02
1   2007-03-22
2   2007-04-06
3   2007-04-14
4   2007-04-15
Name: date_parsed, dtype: datetime64[ns]

### Function to convert datatype to datetime

In [33]:
#Converting the type to datetime using a function
for col in dt.columns:
    if dt[col].dtype == 'object':
        try:
            dt[col] = pd.to_datetime(dt[col])
        except ValueError:
            pass

In [34]:
dt['date'].head()

0   2007-03-02
1   2007-03-22
2   2007-04-06
3   2007-04-14
4   2007-04-15
Name: date, dtype: datetime64[ns]

In [35]:
dt.select_dtypes(include=[np.datetime64])

           date
0    2007-03-02
1    2007-03-22
2    2007-04-06
3    2007-04-14
4    2007-04-15
...         ...
1688 2015-12-07
1689 2016-02-22
1690 2016-02-23
1691 2016-02-26
1692 2016-03-02

[1693 rows x 1 columns]

---------------------------

Q: How to get rows with invalid datetime format?

In [40]:
#creating a dataframe with some invalid dates
inv_df = pd.DataFrame({'date':['2015-02-01', 'sausage', '2011-01-33']})
inv_df

         date
0  2015-02-01
1     sausage
2  2011-01-33

In [59]:
#Check for the valid date in the column
pd.to_datetime(inv_df['date'], errors='coerce')

0   2015-02-01
1          NaT
2          NaT
Name: date, dtype: datetime64[ns]

---------------------

---------------------

### Check if string has date, any format

In [14]:
#to know whether a particular string could represent or contain a valid date,
from dateutil.parser import parse

def is_date(string, fuzzy=False):
    """
    Return whether the string can be interpreted as a date.

    :param string: str, string to check for date
    :param fuzzy: bool, ignore unknown tokens in string if True
    """
    try: 
        parse(string, fuzzy=fuzzy)
        return True

    except ValueError:
        return False

In [15]:
is_date("1990-12-1")

True

In [16]:
is_date("Jan 19, 1990")

True

In [17]:
is_date("xyz_not_a_date")

False